:root{
  --body:  #e2e0e0f5;
  --container: white;
  --text: rgb(8, 8, 41);
  --text2: rgb(53, 53, 88);
}
body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--body);
}
.top-text{
  position: relative;
  width: 100%;
  min-height: max-content;
}
.text-lg{
  font-size: 28px;
  font-family: font;
  font-weight: bolder;
}


.text-sm{
  color: var(--text2);
  font-size: 18px;
  font-family: font;
  font-weight: 100;
}
.text-to-sm{
  color: var(--text2);
  font-size: 14px;
  font-family: font;
  font-weight: 100;
}
.container{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.center{
  justify-content: center;
  place-items: center;
}

.text-main-color{
  color: var(--text);
}

.text-sec-color{
  color: var(--text2);
}

.input-container{
  position: relative;
  width: 100%;
  height: max-content;
}

.input-container svg{
  position: absolute;
  left: 10%;
  width: 35px;
  color:gray;
}


.input-container label{
  position: absolute;
  right: 10%;
  top: -15px;
  font-size: 15px;
  background-color: white;
  padding: 0px 10px;
  font-family: font;
  color:var(--text2);
}


.input-container input{
  width: 60%;
  height: 40px;
  text-align: right;
  padding: 5px 50px;
  border-radius: 7px;
  font-family: font;
  font-weight: 100;
  border: 1px solid rgba(0, 0, 0, 0.315);
}

@font-face {
  font-family: font;
  src: url(../../files/IRANSansWeb_Black.ttf);
}